p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial', sans-serif;
}

td {
	border: dotted 1px #333;
	vertical-align: top;
}

img {
	margin: 0;
	max-width: 640px;
}

.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}

.alignright, img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter, img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 12px;
}